<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>VeriON - Online Verilog Simulator</title>
  </head>
  <style>
    #bigc{
      border: 3px solid deeppink;
      border-radius: 20px;
      padding: 20px 0px;
    }
    img{
      border: 3px solid deeppink;
      border-radius: 5dpx;
    }
  </style>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
    </nav>

    <div class="container my-4 px-2" id="bigc">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleFormControlInput1">Testbench</label>
              <input type="text" class="form-control" name="testbench" id="exampleFormControlInput1" placeholder="Enter Testbench Name..." required>
            </div>
            
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Verilog Code</label>
              <textarea class="form-control" name="code" id="exampleFormControlTextarea1" rows="8" placeholder="Enter Verilog Code Here..." required></textarea>
            </div>

            <button type="submit" id="btn" class="btn btn-sm btn-dark" onclick="simulate()">Compile</button>

          </form>
          <button type="button" class="btn btn-sm btn-success my-4" onclick="show()" id="btn2">Simulate</button>
    </div>

    <div class="container" id="output">
    </div>




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script>
        function show(){
          document.getElementById('output').innerHTML=`<img src="static/simulation_cropped1.png" class="img-fluid my-4" alt="simulation" download/>`; 
        }

        function simulate(){
          if(document.getElementById('exampleFormControlInput1').value.length != 0 && document.getElementById('exampleFormControlTextarea1').value.length != 0){
            document.getElementById('btn').innerText='Compiling...';
          }
          else{
            alert('Please Enter All Fields!');
            window.location.href='/';
          }
        }
    </script>
  </body>
  
</html>